.App {
  font-family: sans-serif;
  text-align: center;
  /* background-color: rgb(192, 210, 216); */
}
.movie-poster {
  height: 300px;
  width: 300px;
}
.movie-year {
  margin-top: 5px;
  
}
.movie-summary {
  
  width: 300px;
}
.movie-list{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.new-movie{
  margin-top: 10px;
  border: 2px solid rgb(216, 238, 247);
  background-color: rgb(216, 238, 247);
  border-radius: 20px;
}

.counter{
  display:flex;
  flex-wrap: wrap;
justify-content: space-between;
  font-size: 15px;
margin: 10px;
}
.MovieArray{
  margin-top: 10px;
  display: flex;
  flex-direction: row;;
gap:20px;
}

