* {
  font-family: sans-serif;
}
.flexParent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flexParent .heading{
color:black;
padding:30px;
border: 2px solid gray;
background-color: gray;
}
.flexParent > div {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 5px;
}
.flexParent > div > button {
  margin-top: 50px;
}
.flexParent > div > p {
  margin-top: 10px;
}
input {
  width: 50px;
  text-align: center;
}
div {
  text-align: center;
}
