.App {
  font-family: sans-serif;
  /* text-align: center;
  background-color: blue; */
}
.movie-poster {
  height: 300px;
  width: 300px;
}
.movie-year {
  margin-top: 5px;
  /* border-bottom: 2px solid black; */
}
.movie-summary {
  
  width: 300px;
}
.new-movie{
  margin-top: 10px;
  border: 2px solid blue;
  background-color: white;
  border-radius: 20px;
}
.movie-list{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counter{
  display:flex;
  flex-wrap: wrap;
justify-content: space-between;
  font-size: 15px;
margin: 10px;
}
